@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  canvas {
    display: block;
    position: relative;
    z-index: 1;
  }
  
  .bar {
    position: fixed;
    bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.09);
    border-radius: 48px;
    z-index: 100;
  }
  
  .bar-top {
    padding: 8px 8px;
    top: 8px;
    bottom: auto;
    width: auto;
  }
  
  button,
  .color-label {
    height: 28px;
    border: none;
    padding: 5px 12px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEEEEE;
    cursor: pointer;

    font-size: 12px;
    line-height: 18px;

  }
  
  button:hover,
  .color-label:hover {
    background: #DDDDDD;
  }
  
  button:nth-child(1) {
    border-radius: 24px 8px 8px 24px;
  }
  
  button:nth-child(2) {
    border-radius: 8px 24px 24px 8px;
  }
  
  .color-preview {
    position: relative;
    width: 28px;
    min-width: 28px;
    height: 28px;
    display: block;
    border-radius: 40px;
    padding: 4px;
    cursor: pointer;
    border: 2px solid #fff;
  }
  
  .color-preview:before {
    content: '';
    position: absolute;
    top: -4px; bottom: -4px;
    right: -4px; left: -4px;
    background: conic-gradient(from 180deg at 50% 50%, #FF0000 0deg, #FBFF00 72deg, #00FFFF 144deg, #2200FF 216deg, #FF00BF 288deg, #FF0000 360deg);
    z-index: -1;
    border-radius: 40px;
  }
  
  #size-value {
    flex-grow: 1;
    width: 100%;
    margin: 0px 8px 0px 16px;
    cursor: pointer;
  }

  /* Size */

  .size-input {
    width: 160px;
    height: 12px;
    background: #F0F0F0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin: 0px 24px 0px 12px;
  }
  
  .size-circle {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
    left: 18px;
    border-radius: 12px;
    transition: 100ms;
  }


  /* Color preset */

  .bar-preset {
    bottom: 64px;
    width: min-content;
    gap: 4px;
    padding: 8px 8px;

    scale: 0.75;
    translate: 0px 16px;
    opacity: 0;
    pointer-events: none;

    transition: 200ms;
  }

  .bar-preset-active {
    scale: 1;
    translate: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .color-preset {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 2px solid #EEE;
    border-radius: 28px;
    cursor: pointer;
  }
  
  .color-preset:nth-child(2) {
    background: #FF0000;
  }
  
  .color-preset:nth-child(3) {
    background: #FFD000;
  }
  
  .color-preset:nth-child(4) {
    background: #00D238;
  }
  
  .color-preset:nth-child(5) {
    background: #0088FF;
  }
  
  .color-preset:nth-child(6) {
    background: #D400FF;
  }
  
  .color-preset:nth-child(7) {
    background: #2D2D2D;
  }

  .color-label {
    width: min-content;
  }
  
  #color-value {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }